$sidebar-width: 135px;

#sidebar {
  width: $sidebar-width;
  height: calc(100% - 60px);
  background: rgba(9, 14, 46, 0.8);
  // background: rgba(5, 54, 128, 0.8);
  margin: 0;
  float: left;
  position: fixed;
  top: 60px;
  left: 0;

  .navbar {
    width: 100%;
    height: 100%;
  }
}
